Repository chuigda/vulkan4j, pull requests merged in 2025-05, with the labels that each got.

#37 增补 bitfield 有关测试
  .gitignore
  ffm-plus/src/test/java/club/doki7/ffm/test/bits/TestBitfield.java
  misc/test_binary/bitfield.c
  misc/test_binary/build.bat
  misc/test_binary/build_msvc.bat
Labels: T:ffm-plus, T:test

#47 glfw: re-add GLFW bindings
  codegen-v2/input/download.sh
  codegen-v2/src/main/kotlin/club/doki7/babel/cdecl/doxygen.kt
  codegen-v2/src/main/kotlin/club/doki7/babel/cdecl/parse.kt
  codegen-v2/src/main/kotlin/club/doki7/babel/cdecl/tokenize.kt
  codegen-v2/src/main/kotlin/club/doki7/babel/codegen/command.kt
  codegen-v2/src/main/kotlin/club/doki7/babel/extract/glfw3/extract.kt
  codegen-v2/src/main/kotlin/club/doki7/babel/extract/parse-util.kt
  codegen-v2/src/test/kotlin/club/doki7/babel/test/cdecl_parse.kt
  vma/src/main/java/club/doki7/vma/VMA.java
Labels: P:high-priority, T:codegen, T:glfw3, C:impl

#51 ffm-plus: make all pointer types `Iterable`
  ffm-plus/src/main/java/club/doki7/ffm/ptr/BytePtr.java
  ffm-plus/src/main/java/club/doki7/ffm/ptr/CLongPtr.java
  ffm-plus/src/main/java/club/doki7/ffm/ptr/DoublePtr.java
  ffm-plus/src/main/java/club/doki7/ffm/ptr/FloatPtr.java
  ffm-plus/src/main/java/club/doki7/ffm/ptr/IntPtr.java
  ffm-plus/src/main/java/club/doki7/ffm/ptr/LongPtr.java
  ffm-plus/src/main/java/club/doki7/ffm/ptr/PointerPtr.java
  ffm-plus/src/main/java/club/doki7/ffm/ptr/ShortPtr.java
Labels: C:enhancement, P:high-priority, T:ffm-plus, C:impl

#60 cdecl: better header parsing framework
  codegen-v2/input/.gitignore
  codegen-v2/input/download.sh
  codegen-v2/src/main/kotlin/club/doki7/babel/extract/glfw3/extract.kt
  codegen-v2/src/main/kotlin/club/doki7/babel/extract/sdl3/extract.kt
  codegen-v2/src/main/kotlin/club/doki7/babel/extract/vma/extract.kt
  codegen-v2/src/main/kotlin/club/doki7/babel/hparse/hparse.kt
  vma/src/main/java/club/doki7/vma/bitmask/VmaAllocationCreateFlags.java
  vma/src/main/java/club/doki7/vma/bitmask/VmaAllocatorCreateFlags.java
  vma/src/main/java/club/doki7/vma/bitmask/VmaDefragmentationFlags.java
  vma/src/main/java/club/doki7/vma/bitmask/VmaPoolCreateFlags.java
  vma/src/main/java/club/doki7/vma/bitmask/VmaVirtualAllocationCreateFlags.java
  vma/src/main/java/club/doki7/vma/bitmask/VmaVirtualBlockCreateFlags.java
  vma/src/main/java/club/doki7/vma/enumtype/VmaMemoryUsage.java
Labels: P:medium-priority, T:cdecl, C:impl
